
.botbar {
  --svg-size: 3;
  min-height: 100px;
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: inherit;

  box-shadow: var(--inside-border);
}

.botbar > .iconlinks {
  padding: .5em 50px 0 50px;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 4em;
}



.botbar > .info-container {
  position: absolute;
  bottom: 5px; right: 40px;
  width: 300px;
}

.botbar > .info-container > .info-box {
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: 2em;
}

