
.iconlink {
  display: block;
  color: inherit;
  font-size: 2em;
  transition: color .25s ease-in;
}

.iconlink > svg {
  display: block;
}

.iconlink:hover, .iconlink:active {
  color: var(--fg-hover-color);
}