
.leftbar {
  width: 20%;
  min-width: 19.15em;
  position: sticky;
  top: 0;

  padding: 20vh 30px 15vh 30px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  transition: box-shadow .25s ease-in;
  box-shadow: var(--inside-border);
}

.name-bar > h1 {
  font-size: 3em;
  font-weight: 700;
  transition: color .25s ease-in;
}

.leftbar > h2 {
  font-size: 2.2em;
}

.leftbar > .navlinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: .7em;
}

.name-bar > .iconlinks {
  padding: 20px 10px 70px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
}
