
.light-toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.brightness-icon {
  transition: color .2s ease-out;
}

.brightness-icon.moon {
  font-size: 2.5em;
}

.brightness-icon.sun {
  font-size: 3em;
  margin: -.084em;
}

.brightness-icon:hover {
  color: var(--fg-hover-color);
}