


.navlinks > a {
  right: 0px;
  display: flex;
  width: fit-content;

  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  transition: color .25s ease-in;

  /* color: transparent;
  background-clip: text;
  background-color: #5d5db4;
  text-shadow: 1px 3px 3px #7c7cd99a, -1px 3px 3px #7c7cd99a; */
}

.navlinks > a:hover, a:active {
  color: var(--fg-hover-color);
}