
.rightbar {
  width: 20%;
  min-width: 20%;
  position: sticky;
  top: 0;
  padding: 50px 50px 50px 30px;
  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  box-shadow: var(--inside-border);
}

.info {
  position: relative;
  width: fit-content;
}

.info:hover {
  color: var(--fg-hover-color);
}

.info-box {
  z-index: 1;
  border: .1em solid;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: fit-content;

  padding: 10px 30px 30px 10px;
}

.info-box > p {
  display: inline-block;
}

.info-box.hidden {
  display: none;
}

.info > svg {
  position: relative;
  z-index: 2;
  padding: -3px;
  border-radius: 3em;
  border: .2em solid var(--primary-bg-color);
  box-shadow: inset 0px 0px 0px 1em var(--primary-bg-color);
  font-size: 2em;
  display: block;
  float: right;
}