
.rightbar {
  --padding: 50px;
  width: 10%;
  min-width: 100px;
  position: sticky;
  top: 0;
  padding: var(--padding) var(--padding) var(--padding) var(--padding);
  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  transition: box-shadow .25s ease-in;
  box-shadow: var(--inside-border);
}
