
.topbar {
  min-height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  background: inherit;

  transition: box-shadow .25s ease-in;
  box-shadow: var(--inside-border);
}

.topbar > .navlinks {
  font-size: .9em;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
  padding: 0 30px 0 30px
}

.topbar > .navlinks > a {
  margin: 0;
  padding: 0;
}

.topbar > .settings {
  flex-grow: 2;
  max-width: fit-content;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
