
/* Default (Desktop Landscape) */
html, body, #root, .app {
  height: 100%;
}

.app {
  color: var(--primary-fg-color);
  background-color: var(--primary-bg-color);

  display: flex;
  justify-content: space-between;

  overflow-y: scroll;
}

.content {
  flex: 0 1 70%;
  text-align: center;

  height: fit-content;
}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

/* Mobile Default (Landscape) */
@media only screen and (max-height: 512px), (max-width: 512px) {
  
  /* Mobile Portrait */
  @media only screen and (max-aspect-ratio: 3  / 2) {
    .content {
      flex: unset;
      width: 100%;
    }
  }
}

/* Desktop Portrait */
@media (max-aspect-ratio: 3 / 2) and (min-width: 513px) and (min-height: 513px), (max-width: 1200px) and (min-width: 513px) and (min-height: 513px) {

  .app {
    position: relative;
    display: block;
  }

  .content {
    flex: unset;
    width: 100%;
  }

}
