
#root {
  color: var(--primary-fg-color);
  background-color: var(--primary-bg-color);
}

.leftbar {
  flex: 1 1 20%;
}

.rightbar {

  flex: 1 1 10%;
}

.content {
  flex: 1 1 70%;
  text-align: center;
  transition: all .25s ease-in;

}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

@media only screen and (max-width: 1500px) {
  .app {
    flex-direction: column;
    overflow-y: scroll;
  }

  .topbar {
    position: sticky;
    top: 0;
    width: 100%;
    max-height: 7vh;
    min-height: 7vh;

    background: inherit;
    box-shadow: var(--inside-border);
  }

  .botbar {
    position: sticky;
    bottom: 0;
    width: 100%;
    max-height: 7vh;
    min-height: 7vh;

    background: inherit;
    box-shadow: var(--inside-border);
  }

  .content {
    flex: 0 0 86%;
    width: 100%;
    max-height: 86%;
  }
}
