
/* Default (Desktop Landscape) */
html, body, #root, .app {
  height: 100%;
}

.app {
  color: var(--primary-fg-color);
  /* mix-blend-mode: hard-light; */

  display: flex;
  justify-content: space-between;

  overflow-y: scroll;
}

.content {
  flex: 0 1 71%;
  padding: 20vh 5% 10vh 5%;
  text-align: center;
  /* z-index: -2; */

  height: fit-content;
}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

/* Mobile Default (Landscape) */
@media only screen and (max-height: 512px), (max-width: 512px) {
  
  /* Mobile Portrait */
  @media only screen and (max-aspect-ratio: 3 / 2) {
    .content {
      flex: unset;
      width: 90%;
      padding: 10vh 5% 20vh 5%;
    }
  }
}

/* Desktop Portrait (yes, it's lengthy and convoluded, but that's css conditionals for ya) */
@media (max-aspect-ratio: 3 / 2) and (min-width: 513px) and (min-height: 513px), (max-width: 1200px) and (min-width: 513px) and (min-height: 513px) {

  .app {
    position: relative;
    display: block;
  }

  .content {
    flex: unset;
    width: 90%;
    min-height: 100vh;
    padding: 10vh 5% 10vh 5%;
  }

}
